# Определяем SQL файлы как SQL
*.sql linguist-language=SQL
*.sql linguist-detectable=true

# Для PL/SQL (если есть специфичные файлы)
*.pks linguist-language=PLSQL
*.pkb linguist-language=PLSQL
*.pls linguist-language=PLSQL

# Исключаем документацию из статистики
*.md linguist-documentation=SQL
*.yml linguist-documentation
*.yaml linguist-documentation

README linguist-documentation
